*{
    padding:0;
    margin: 0;
    font-family: "Young Serif", serif;9
    
}

.container{
    padding:50px;
}

.section-one{
    background-color:black;
    color:white;
    padding:20px;
}

.section-one__contact{
    background-color:orangered;
    color:white;
    padding-right:10px;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    text-decoration:none;
    display:inline-block; 
    margin-top:10px;
}

.section-one__name{
    font-size:60px;
}

.section-one__role{
    font-size:30px;
    margin-top:10px;
}

.section-two,.section-three,.section-four,.section-five{
    margin-top:20px;
}

.section-two__desc,.section-three__desc,.section-four__desc,.section-five__desc{
    margin-top:10px
}

.section-five{
    background-color:black;
    color:white;
    padding:20px;
}

.section-five__title a{
    color:skyblue;
}

.section-three li,.section-four li{
    list-style: none;
}

.section-three{
    background-color:#6462FD;
    COLOR:BLACK;    
    display:inline-block;
    padding:20px;
    height:200px;
    border-radius:10px;
    vertical-align:top;
}

.section-four{
    background-color:#fe7517;
    color:black;
    display: inline-block;
    padding:20px;
    height:200px;
    border-radius:10px;
}

.contact-form{
    margin-top:20px;
}

.contact-form{

}

.contact-form__input,.contat-form__textrea.input-form__submit{
    margin:20px;
}

.contact-form__input{
    padding:10px;
    border:none;
    border-bottom: solid black 1px;
}

.contact-form__textarea{
    padding:10px;
    border:none;
    border: solid black 1px;
}

.contact-form__submit{
        padding-top:10px;
        padding: bottom 10px;
        padding-left:20px;
        padding-right:20px;
        background-color:orangered;
        color:black;
        border:none;        
}